@use 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
.auth-card {
  .p-card {
    width: 25vw;
    display: flex;
  }
}

.p-password-w-full {
  .p-password {
    width: 100%;
  }

  .p-password .p-inputtext {
    width: 100%;
  }
}
