<p-card styleClass="h-65">
  <ng-template pTemplate="content">
    <div class="flex items-center">
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
      <h3 class="text-2xl font-semibold flex-1">{{ space.name }}</h3>
      <i
        class="pi pi-ellipsis-v cursor-pointer ml-auto"
        tabindex="0"
        (click)="menu.toggle($event); spaceSelected.emit(space)"
        (keydown.enter)="menu.toggle($event)"
        (keydown.space)="menu.toggle($event)"
      ></i>
    </div>
    <div class="flex h-24 items-center my-6">
      <p class="line-clamp-3 md:line-clamp-3 lg:line-clamp-4 w-full">{{ space.description || 'Gerencie contas e despesas compartilhadas neste space.' }}</p>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <a [routerLink]="['/spaces', space.id]">
      <p-button label="Acessar" styleClass="w-full" severity="contrast"></p-button>
    </a>
  </ng-template>
</p-card>
