<div class="mb-10">
  <h1 class="text-2xl font-bold">Meus Gastos</h1>
  <p class="text-md text-neutral-500 mt-1">Acompanhe todos os seus gastos em contas e despesas em todos os espaços.</p>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
  @if(isLoading()) {
    <p-skeleton styleClass="py-16" />
    <p-skeleton styleClass="py-16" />
    <p-skeleton styleClass="py-16" />
    <p-skeleton styleClass="py-16" />
  } 
  @else { 
    @for(card of cards(); track $index + 1) {
      <div
        class="bg-card bg-white flex flex-col rounded-lg border shadow-sm p-4"
        (click)="card.onClick()"
        (keyup.enter)="card.onClick()"
        tabindex="0"
        role="button"
        aria-pressed="false"
      >
        <div class="flex items-center justify-between gap-2 text-md text-neutral-600 font-medium leading-none mb-1">
          <h3>{{ card.title }}</h3>
          <i [ngClass]="card.icon"></i>
        </div>
        <p class="text-2xl text-neutral-700 font-bold my-2" [ngClass]="{'text-lg' : isNaN(card.content)}">{{ card.content }}</p>
        <span class="text-sm text-neutral-500 font-medium leading-none">{{ card.details }}</span>
      </div>
    }

    <div class="col-span-full">
      <p-accordion styleClass="">
        <p-accordion-panel value="0">
          <p-accordion-header>
            <div class="flex items-center gap-2 text-neutral-600 font-medium leading-none">
              <i class="pi pi-sliders-h"></i>
              <span class="text-sm font-medium">Filtros</span>
            </div>
          </p-accordion-header>
          <p-accordion-content>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 items-end justify-end">
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-2">
                  <i class="pi pi-calendar"></i>
                  <label for="period" class="text-sm font-medium">Período</label>
                </div>
                <p-select
                  id="period"
                  class="w-full"
                  [options]="periods()"
                  optionLabel="label"
                  optionValue="value"
                  [(ngModel)]="filters().selectedPeriod"
                  (onChange)="changePeriod($event.value)"
                  appendTo="body"
                ></p-select>
              </div>

              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-2">
                  <i class="pi pi-filter"></i>
                  <label for="type" class="text-sm font-medium">Tipo</label>
                </div>
                <p-multiselect
                  id="type"
                  class="w-full"
                  [options]="types"
                  optionLabel="label"
                  optionValue="value"
                  [(ngModel)]="filters().selectedTypes"
                  (onPanelHide)="onFiltersChange()"
                  appendTo="body"
                ></p-multiselect>
              </div>

              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-2">
                  <i class="pi pi-building"></i>
                  <label for="space" class="text-sm font-medium">Espaço</label>
                </div>
                <p-multiselect
                  id="space"
                  class="w-full"
                  [options]="spaces()"
                  optionLabel="name"
                  optionValue="id"
                  [(ngModel)]="filters().selectedSpacesIds"
                  (onPanelHide)="onFiltersChange()"
                  appendTo="body"
                ></p-multiselect>
              </div>

              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-2">
                  <i class="pi pi-credit-card"></i>
                  <label for="payment" class="text-sm font-medium">Métodos de Pagamento</label>
                </div>
                <p-multiselect
                  id="payment-method"
                  class="w-full"
                  [options]="paymentMethods()"
                  optionLabel="name"
                  optionValue="id"
                  [(ngModel)]="filters().selectedPaymentMethodsIds"
                  (onPanelHide)="onFiltersChange(true)"
                  selectedItemsLabel="{0} itens selecionados"
                  appendTo="body"
                ></p-multiselect>
              </div>

              <div class="lg:col-span-3 flex flex-col gap-2">
                <div class="flex items-center gap-2">
                  <i class="pi pi-search"></i>
                  <label for="payment" class="text-sm font-medium">Pesquisar</label>
                </div>
                <input
                  id="search"
                  class="w-full"
                  inputStyleClass="w-full"
                  type="text"
                  pInputText
                  placeholder="Buscar por título, espaço ou observação..."
                  [(ngModel)]="filters().search"
                  (ngModelChange)="onFiltersChange()"
                />
              </div>

              <div class="mt-2 flex justify-between items-center gap-2 lg:col-span-1">
                <p-select outlined severity="contrast" [options]="sortOptions" optionLabel="label" [(ngModel)]="selectedSortOption" [appendTo]="'body'" class="flex-1">
                  <ng-template #item let-item>
                    <div class="flex items-center gap-2">
                      <span>{{ item.label }}</span>
                      <i [class]="item.icon"></i>
                    </div>
                  </ng-template>
                  <ng-template #selectedItem let-selectedOption>
                    <div class="flex items-center gap-2">
                      <span>Ordernar por {{ selectedOption.label }}</span>
                      <i [class]="selectedOption.icon"></i>
                    </div>
                  </ng-template>
                </p-select>
                <p-button label="Limpar Filtros" severity="secondary" (click)="resetFilters()"></p-button>
              </div>
            </div>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>

    <div id="spendingList" class="col-span-full flex items-center justify-between mt-2">
      <p class="text-xl font-bold">Lista de Gastos</p>
      <div class="flex items-center gap-2">
        @for(item of typeTags(); track item.value) {
          <p-tag [value]="item.label" rounded [severity]="item.isSelected ? 'contrast' : 'secondary'" />
        }
      </div>
    </div>

    <div class="col-span-full grid gap-4 overflow-x-auto">
      @for(item of pagedSpendings(); track $index + 1) {
        <div 
          class="bg-card bg-white rounded-lg border shadow-sm p-4 h-50 flex flex-col justify-between text-neutral-500 font-semibold"
          tabindex="0"
          (click)="openDetailsDialog(item);"
          (keydown.enter)="openDetailsDialog(item)"
          (keydown.space)="openDetailsDialog(item)"
          [ngClass]="{'cursor-pointer hover:shadow-md transition-shadow' : expenseGuard(item)}">
          <div class="flex flex-col gap-1">
            <div class="flex gap-3 items-center justify-between">
              <h1 class="text-lg text-neutral-800 font-bold line-clamp-1">{{ expenseGuard(item) ? item.title : item.name }}</h1>
              <div class="flex items-center rounded-full border px-2 py-1 text-xs font-semibold border-transparent bg-black text-white leading-none">
                {{ expenseGuard(item) ? 'Despesa' : 'Conta' }}
              </div>
            </div>
            <div class="flex items-center gap-2 text-sm">
              <i class="pi pi-building"></i>
              <span class="truncate">{{ item.space.name }}</span>
            </div>
          </div>

          <div class="flex items-center gap-2 justify-between">
            <div class="pt-8 flex flex-col justify-end gap-3 text-sm leading-none">
              @if(expenseGuard(item) && item.payment_method_id) {
                <div class="flex items-center gap-2">
                  <i class="pi pi-calendar"></i>
                  <span class="font-semibold">{{ (expenseGuard(item) ? item.date : '') | date: 'dd/MM/yyyy' }}</span>
                </div>
                <div class="flex items-center gap-2">
                  <i class="pi pi-credit-card"></i>
                  <span>{{ item.payment_method.name }}</span>
                </div>
              } @else if(billGuard(item)) {
                <div class="flex items-center gap-2" [ngClass]="item.payer ? 'text-green-600' : 'text-red-600'">
                  <i [ngClass]="item.payer ? 'pi pi-check' : 'pi pi-calendar'"></i>
                  <span class="font-semibold">{{ item.payer ? 'Pago' : 'Vence em ' + (item.deadline | date: 'dd/MM/yyyy') }}</span>
                </div>
              } @if(item.space.members && item.space.members.length > 1) {
                <div class="flex items-center gap-2">
                  <i class="pi pi-users"></i>
                  <span>{{ 'Dividido entre ' + item.space.members.length + ' membros' }}</span>
                </div>
              } @else {
                <div class="flex items-center gap-2">
                  <i class="pi pi-user"></i>
                  <span>Espaço individual</span>
                </div>
              } @if(expenseGuard(item) && item.note) {
                <div class="flex items-center gap-2 p-2 bg-neutral-100 rounded-md border">
                  <i class="pi pi-book"></i>
                  <span class="line-clamp-1">{{ item.note }}</span>
                </div>
              }
            </div>

            <div class="flex flex-col items-end justify-start">
              <div class="text-2xl text-neutral-800 font-bold">{{ item.value | currency: 'BRL' }}</div>
              @if(item.space.members && item.space.members.length > 1) {
              <div class="text-xs">de {{ (getUserSpending(item)) | currency: 'BRL'}}</div>
              }
            </div>
          </div>
        </div>
      } 
      @empty {
        <div class="bg-card bg-white rounded-lg border shadow-sm flex flex-col gap-2 p-4 text-center text-neutral-500">
          <p class="text-lg">Nenhum gasto encontrado</p>
          <p class="text-sm">Tente ajustar os filtros ou adicionar um novo gasto</p>
        </div>
      }
    </div>

    <p-paginator
      class="col-span-full"
      styleClass="w-full !bg-transparent"
      [first]="first()"
      [rows]="rows()"
      [totalRecords]="filteredSpendings().length"
      [pageLinkSize]="3"
      [rowsPerPageOptions]="[5, 10, 20, 30, filteredSpendings().length]"
      [showFirstLastIcon]="true"
      [alwaysShow]="false"
      (onPageChange)="onPageChange($event)" 
    />
  }
</div>

@defer (when isExpenseDetailsDialogOpen()) {
  <app-expense-details-dialog [isOpen]="isExpenseDetailsDialogOpen" [expense]="selectedExpense()"> </app-expense-details-dialog>
}
