<p-dialog
  [header]="isEditMode() ? 'Editar Despesa' : 'Adicionar Despesa'"
  [modal]="true"
  [visible]="isOpen()"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  (onHide)="close()"
  (visibleChange)="close()"
  styleClass="w-full md:w-1/2 lg:w-1/3 mx-4 dialog-with-subtitle"
>
  <p class="text-sm font-semibold text-gray-500">{{ isEditMode() ? 'Atualize as informações da despesa.' : 'Adicione uma nova despesa para o período selecionado.'}}</p>
  <form [formGroup]="expenseForm" (ngSubmit)="handleSubmit()" class="mt-6 space-y-4">
    <div>
      <label for="title" class="text-sm font-medium">Título *</label>
      <input id="title" class="w-full mt-2" type="text" pInputText formControlName="title" placeholder="Ex: Mercado, Janta, Ingressos" />
    </div>
    <div>
      <label for="value" class="text-sm font-medium">Valor</label>
      <p-inputnumber
        id="value"
        class="w-full mt-2"
        mode="currency"
        inputId="locale-brazil"
        currency="BRL"
        min="0"
        locale="pt-BR"
        formControlName="value"
        placeholder="R$ 100,00"
        [showButtons]="false"
      />
    </div>
    <div>
      <label for="reference_period" class="text-sm font-medium">Período de referência</label>
      <p-datepicker
        id="reference_period"
        styleClass="w-full mt-2"
        appendTo="body"
        formControlName="reference_period"
        [showIcon]="true"
        dateFormat="MM/yy"
        view="month"
      ></p-datepicker>
    </div>
    <div>
      <label for="date" class="text-sm font-medium">Data da compra</label>
      <p-datepicker
        id="date"
        styleClass="w-full mt-2"
        appendTo="body"
        formControlName="date"
        [showIcon]="true"
        [showButtonBar]="true"
        dateFormat="dd/mm/yy"
        placeholder="dd/mm/aaaa"
      ></p-datepicker>
    </div>
    <div>
      <label for="note" class="text-sm font-medium">Observação</label>
      <textarea id="note" rows="3" cols="30" maxlength="255" pTextarea class="w-full mt-2" formControlName="note" placeholder="Observação"></textarea>
    </div>
    <div>
      <label for="payment_method_id" class="text-sm font-medium">Forma de Pagamento</label>
      <div class="flex items-center w-full mt-2">
        <p-select
          id="payment_method_id"
          class="w-full"
          [options]="groupedPaymentMethods"
          formControlName="payment_method_id"
          optionLabel="name"
          optionValue="id"
          placeholder="Selecione"
          appendTo="body"
          [group]="true"
        >
          <ng-template let-group #group>
            <div class="flex items-center gap-2">
              <app-user-avatar [users]="group.owner"></app-user-avatar>
              <span>{{ getAbbreviatedName(group.owner.fullname) }}</span>
            </div>
          </ng-template>
          <ng-template #item let-item>
            <div class="flex items-center gap-2">
              <i class="pi pi-credit-card"></i>
              <span>{{ item.name }}</span>
              <p-tag *ngIf="item.split_by_default" class="ml-4" styleClass="!text-xs" severity="info" value="Compartilhado" />
              <p-tag *ngIf="item.is_excluded_from_totals" class="ml-4" styleClass="!text-xs" severity="secondary" value="Sem fatura" />
            </div>
          </ng-template>
          <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2">
              <app-user-avatar [users]="selectedOption.owner"></app-user-avatar>
              <span>{{ selectedOption.name }}</span>
              <p-tag *ngIf="selectedOption.split_by_default" class="ml-4" styleClass="!text-xs" severity="info" value="Compartilhado" />
              <p-tag *ngIf="selectedOption.split_by_default" class="ml-4" styleClass="!text-xs" severity="secondary" value="Sem fatura" />
            </div>
          </ng-template>
          <ng-template #footer>
            <div class="p-3">
              <p-button label="Adicionar Método" fluid severity="secondary" text size="small" icon="pi pi-plus-circle" (click)="openPaymentMethodDialog()" />
            </div>
          </ng-template>
        </p-select>
      </div>
    </div>
    <div>
      <label for="category_id" class="text-sm font-medium">Categoria</label>
      <p-select id="category_id" class="w-full mt-2" [options]="categories" formControlName="category_id" optionLabel="name" optionValue="id" placeholder="Selecione">
        <ng-template #item let-item>
          <div class="flex items-center gap-2">
            <span>{{ item.name }}</span>
            <div class="ml-4 size-2 rounded-full" [style]="'color: ' + item.color_hex"></div>
          </div>
        </ng-template>
        <ng-template #selectedItem let-selectedItem>
          <div class="flex items-center gap-2">
            <span>{{ selectedItem.name }}</span>
            <div class="ml-4 size-2 rounded-full" [style]="'color: ' + selectedItem.color_hex"></div>
          </div>
        </ng-template>
        <ng-template #footer>
          <div class="p-3">
            <p-button label="Adicionar categoria" fluid severity="secondary" text size="small" icon="pi pi-plus-circle" (click)="openCategoryDialog()" />
          </div>
        </ng-template>
      </p-select>
    </div>
    <div class="flex flex-col gap-1">
      <div class="flex items-center">
        <p-checkbox id="force_split" formControlName="force_split" binary styleClass="mb-0.5" />
        <label for="force_split" class="text-sm font-medium ml-2">Definir divisão personalizada</label>
        <p-button text severity="secondary" rounded icon="pi pi-question-circle" (onClick)="toggleInfos(showSplitInfo)" />
      </div>
      @if(showSplitInfo()) {
      <p class="text-xs text-gray-500">
        Por padrão, as despesas são divididas igualmente entre todos os membros do espaço. Caso queira dividir o valor de forma personalizada, selecione esta opção.
      </p>
      } @if(!isEditMode() || expenseForm.get('is_recurring')?.value) {
      <div class="flex items-center">
        <p-checkbox id="is_recurring" formControlName="is_recurring" binary styleClass="mb-0.5" [disabled]="isEditMode()" />
        <label for="is_recurring" class="text-sm font-medium ml-2">Despesa recorrente</label>
        <p-button text severity="secondary" rounded icon="pi pi-question-circle" (onClick)="toggleInfos(showRecurringInfo)" />
      </div>
      } @if(showRecurringInfo()) {
      <p class="text-xs text-gray-500 mb-2">Despesas recorrentes são compromissos fixos que se repetem automaticamente. Ideal para assinaturas, mensalidades, parcelas, etc.</p>
      } @if(expenseForm.get('is_recurring')?.value) {
      <div class="rounded-lg border shadow-2xs">
        <div class="p-4 flex-col space-y-4">
          <h3 class="font-semibold text-sm">Configurações de Recorrência</h3>
          <div class="space-y-4">
            <div>
              <label for="recurring_type" class="text-sm font-medium">Duração *</label>
              <p-select
                id="recurring_type"
                class="w-full mt-2"
                [options]="expenseRecurringTypes"
                formControlName="recurring_type"
                optionLabel="label"
                optionValue="value"
                placeholder="Selecione"
                [disabled]="isEditMode()"
              />
            </div>
          </div>
          @if(expenseForm.get('recurring_type')?.value === 'date') {
          <div>
            <label for="recurring_end_date" class="text-sm font-medium">Data de término *</label>
            <p-datepicker
              id="recurring_end_date"
              styleClass="w-full mt-2"
              appendTo="body"
              formControlName="recurring_end_date"
              [showIcon]="true"
              [showButtonBar]="true"
              dateFormat="dd/mm/yy"
              placeholder="dd/mm/aaaa"
              [disabled]="isEditMode()"
            ></p-datepicker>
          </div>
          } @else if(expenseForm.get('recurring_type')?.value === 'installments') {
          <div>
            <label for="recurring_end_installments" class="text-sm font-medium">Número de parcelas *</label>
            <p-inputnumber
              id="recurring_end_installments"
              class="w-full mt-2"
              inputId="locale-brazil"
              min="2"
              max="12"
              locale="pt-BR"
              formControlName="recurring_end_installments"
              placeholder="Mínimo 2, Máximo de 12 parcelas"
              [showButtons]="false"
              [disabled]="isEditMode()"
            />
          </div>
          }
          <div class="mt-2 text-sm flex flex-col gap-2 bg-blue-50 p-3 rounded-md">
            <div class="flex gap-1 items-center">
              <i class="pi pi-exclamation-circle"></i>
              <span class="font-bold">Importante</span>
            </div>
            <span>As despesas recorrentes para os meses seguintes são geradas automaticamente ao cadastrar a primeira. É possível criar até 12 recorrências de uma vez.</span>
          </div>
        </div>
      </div>
      }
    </div>
    <div class="flex justify-end pt-6">
      <p-button
        type="submit"
        label="{{ isLoading() ? (isEditMode() ? 'Editando Despesa...' : 'Adicionando...') : (isEditMode() ? 'Editar Despesa' : 'Adicionar Despesa') }}"
        [disabled]="isLoading() || expenseForm.invalid"
        [loading]="isLoading()"
        severity="contrast"
      ></p-button>
    </div>
  </form>
</p-dialog>

<app-payment-method-form-dialog [isDialogOpen]="isPaymentMethodDialogOpen" (touchPaymentMethod)="handlePaymentMethodCreated($event)"> </app-payment-method-form-dialog>
<app-category-form-dialog [isDialogOpen]="isCategoryDialogOpen" (touchCategory)="handleCategoryCreated($event)"> </app-category-form-dialog>
