<p-card styleClass="w-[90vw] md:w-96">
  <ng-template #title>Boas Vindas</ng-template>
  <ng-template #subtitle>Acesse sua conta</ng-template>
  <ng-template #content>
    <button
      class="my-6 w-full border border-gray-300 rounded-md flex items-center justify-center gap-6 py-3 px-4 text-sm font-medium bg-white hover:bg-gray-100 transition disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="signInWithGoogle()"
      [disabled]="isLoading() || isGoogleLoading()"
    >
      @if(isGoogleLoading()) {
        <app-loading [color]="'grey'" [size]="'1.2rem'" />
      } @else {
        <img src="google-color.svg" alt="Google Logo" class="w-5 h-5" />
      }
      <span>Continuar com o Google</span>
    </button>

    <p-divider align="center" type="solid">
      <h1 class="text-sm font-medium">ou</h1>
    </p-divider>

    <form class="mt-6" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="my-6">
        <label for="email" class="text-sm font-medium">Email</label>
        <input id="email" class="w-full mt-2" type="email" pInputText formControlName="email" placeholder="exemplo@email.com" />
      </div>
      <div class="my-6">
        <label for="password" class="text-sm font-medium">Senha</label>
        <p-password
          id="password"
          class="flex mt-2"
          styleClass="w-full"
          inputStyleClass="w-full"
          formControlName="password"
          placeholder="••••••••"
          [feedback]="false"
          [toggleMask]="true"
        />
      </div>

      <div class="text-center mt-8">
        <p-button
          [label]="isLoading() ? 'Entrando...' : 'Entrar'"
          type="submit"
          [loading]="isLoading()"
          [disabled]="loginForm.invalid"
          severity="contrast"
          styleClass="w-full"
        ></p-button>
      </div>
    </form>
    <div class="mt-4 flex items-center text-sm font-medium justify-center">
      <span>Não tem uma conta?</span>
      <button (click)="router.navigate(['/auth/register'])" class="ml-1 underline cursor-pointer">Cadastre-se</button>
    </div>
  </ng-template>
</p-card>
