@use './../../../styles/medias.scss' as *;

.layout-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
  padding: 1rem 4rem;

  @include max-tablet {
    padding: 1rem 2rem;
  }
}

::ng-deep {
  .dialog-with-subtitle .p-dialog-header {
    padding-bottom: 0 !important;
  }
}
