@use './../../../styles/medias.scss' as *;

.layout-container {
  margin-right: 1rem;
  transition: margin 0.5s ease-in-out;
}

.main-content {
  padding: 1rem 1.5rem;
  border: 1px solid #fafafa;
  background: #fafafa;
  border-radius: 0.5rem;
  width: 100%;
  height: calc(100vh - 6rem);

  @include max-tablet {
    margin-bottom: 3rem;
    height: 100%;
  }
}

::ng-deep {
  .dialog-with-subtitle .p-dialog-header {
    padding-bottom: 0 !important;
  }
}
