<p-dialog
  header="Resumo das despesas"
  [modal]="true"
  [visible]="isOpen()"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  (onHide)="close()"
  (visibleChange)="close()"
  styleClass="w-[95%] md:w-1/2 mx-4 w-lg dialog-with-subtitle"
>
  <p class="text-sm text-muted-foreground">Abaixo segue um resumo das despesas para o período selecionado de acordo com a visão desejada.</p>

  <div class="my-6 flex justify-start">
    <p-tabs value="0" class="w-full transparent-tabs">
      <p-tablist>
        <p-tab value="0">Métodos de Pagamento</p-tab>
        <p-tab value="1">Membros</p-tab>
      </p-tablist>
      <p-tabpanels>
        <app-loading [isLoading]="isLoading"></app-loading>

        @if (!isLoading()) {
          <p-tabpanel value="0">
            <ng-container *ngTemplateOutlet="accordionTemplate; context: { items: paymentMethods, type: 'method' }" />
          </p-tabpanel>

          <p-tabpanel value="1">
            <ng-container *ngTemplateOutlet="accordionTemplate; context: { items: membersExpenses, type: 'member' }" />
          </p-tabpanel>
        }
      </p-tabpanels>
    </p-tabs>
  </div>

  <ng-template #accordionTemplate let-items="items" let-type="type">
    <p-accordion>
      @for (item of items; track item.id ?? item.name) {
        <p-accordion-panel [value]="type === 'method' ? item.id : item.name">
          <p-accordion-header>
            <div class="flex justify-between items-center text-sm w-full">
              <div class="flex items-center gap-2">
                <i *ngIf="type === 'method'" class="pi pi-credit-card"></i>
                <i *ngIf="type === 'member'" [class]="type === 'member' && item.name === 'Dividir' ? 'pi pi-users !text-lg' : 'pi pi-user'"></i>
                <span class="font-semibold">{{ item.name }}</span>
                <p-tag *ngIf="type === 'method' && item.split_by_default" class="ml-4" severity="info" value="Dividir" />
              </div>
              <div class="flex items-baseline gap-1 font-semibold mr-4">
                <i class="pi pi-shopping-bag"></i>
                <span>{{ item.expenses.length }}</span>
              </div>
            </div>
          </p-accordion-header>
          <p-accordion-content>
            <p-table [value]="item.expenses" [stripedRows]="true" [paginator]="item.expenses.length > 8" [rows]="8">
              <ng-template pTemplate="header">
                <tr>
                  <th>Compra</th>
                  <th>Valor</th>
                  <th>Data</th>
                  <th *ngIf="type === 'member'">Método</th>
                  <th>Observação</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-expense>
                <tr>
                  <td>{{ expense.title }}</td>
                  <td>{{ expense.value | currency: 'BRL' }}</td>
                  <td>{{ expense.date | date: 'dd/MM/yyyy' }}</td>
                  <td *ngIf="type === 'member'">{{ getPaymentMethodName(expense) }}</td>
                  <td>{{ expense.note ?? '-' }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td class="font-semibold bg-gray-100">Total</td>
                  <td class="font-semibold bg-gray-100" [attr.colspan]="type === 'member' ? 4 : 3">{{ calculateTotalValue(item.expenses) | currency: 'BRL' }}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-accordion-content>
        </p-accordion-panel>
      }
    </p-accordion>
  </ng-template>
</p-dialog>
