<div class="max-w-2xl mx-auto">
  <div class="flex flex-col gap-1">
    <h1 class="text-2xl font-bold">Configurações</h1>
    <p class="text-md text-neutral-500">Configure seu perfil dentro do sistema</p>
  </div>

  <div class="bg-card bg-white mt-8 max-w-4xl border rounded-xl shadow-sm p-4">
    <div class="flex flex-col gap-3 mb-4">
      <div class="flex items-center gap-2">
        <i class="pi pi-user"></i>
        <h2 class="text-xl font-semibold">Perfil</h2>
      </div>
    </div>

    <div class="flex flex-col mx-auto gap-3">
      <form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
        <div class="flex justify-center mb-4">
          <button type="button" (click)="triggerFileInput()" class="cursor-pointer hover:opacity-80 transition-opacity" [disabled]="isUploadingAvatar()">
            <app-user-avatar [users]="userForm.value" [size]="'size-24'" [tooltipEnable]="false" />
          </button>
          <input #fileInput type="file" accept="image/*" class="hidden" (change)="handleAvatarUpload($event)" [disabled]="isUploadingAvatar()" />
        </div>

        <div class="flex flex-col md:flex-row justify-between items-left md:items-center gap-3 py-3 border-b">
          <label for="email" class="text-sm font-medium">Email</label>
          <p-iconfield class="w-full md:w-1/2">
            <input class="w-full" id="email" type="text" pInputText formControlName="email" />
            <p-inputicon class="pi pi-lock" />
          </p-iconfield>
        </div>
        <div class="flex flex-col md:flex-row justify-between items-left md:items-center gap-3 py-3 border-b">
          <label for="fullname" class="text-sm font-medium">Nome Completo</label>
          <input class="w-full md:w-1/2" id="fullname" type="text" pInputText formControlName="fullname" />
        </div>
        <div class="flex justify-end mt-3">
          <p-button
            type="submit"
            [label]="isLoading() ? 'Salvando...' : 'Salvar'"
            [disabled]="isLoading() || isUploadingAvatar() || userForm.get('fullname')?.invalid || !userForm.dirty"
            [loading]="isLoading()"
            severity="contrast"
          />
        </div>
        <div class="mt-4 bg-blue-50 border-l-4 border-blue-400 p-4 rounded">
          <div class="flex">
            <i class="pi pi-info-circle text-blue-900 mt-0.5"></i>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-blue-900 mb-1">Aviso de privacidade</h3>
              <p class="text-sm text-blue-800">
                As informações financeiras armazenadas no sistema não são compartilhadas com terceiros. Todo dado coletado é privado, seguro e utilizado exclusivamente para
                fornecer os serviços oferecidos pela plataforma.
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
