@if(isLoading()) {
<div class="w-1/3">
  <p-skeleton styleClass="py-4" />
</div>
<div class="w-1/2">
  <p-skeleton styleClass="py-6 mt-4" />
</div>
} @else if(space) {
<div class="flex justify-between">
  <h1 class="text-2xl font-bold">{{space.name}}</h1>
  <app-user-avatar [users]="spaceService.setSpaceMembersAsUsers(space)" [size]="'large'"></app-user-avatar>
</div>
<p class="text-md text-gray-500 mt-4">{{space.description}}</p>

<div class="mt-8 flex justify-start">
  <p-tabs value="1" class="w-full transparent-tabs">
    <p-tablist>
      <p-tab value="0">Contas</p-tab>
      <p-tab value="1">Despesas</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-select
        [options]="referenceDates"
        [(ngModel)]="selectedReferenceDate"
        (onChange)="setReferenceDate($event.value)"
        optionLabel="label"
        optionValue="value"
        appendTo="body"
      />
      <p-tabpanel value="0">
        <app-bill-list [space]="space" [referenceDate]="selectedReferenceDate()"></app-bill-list>
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-expense-list [space]="space" [referenceDate]="selectedReferenceDate()"></app-expense-list>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
}
