<div class="flex justify-between items-center mb-10">
  <div>
    <h1 class="text-4xl font-bold">Seus Espaços</h1>
    <p class="text-gray-500">Olá, {{authService.userFirstName}}</p>
  </div>
  <ng-container *ngTemplateOutlet="newButton"></ng-container>
</div>

<div class="flex items-center justify-center">
  <p-dataView [value]="spaces" layout="grid" [paginator]="false" class="w-full">
    <ng-template #grid let-items>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        @for (space of items; track space ? space.id : ($index + 1)) {
          <app-space-card
            [space]="space"
            (spaceSelected)="setSelectedSpace($event)"
            (updateDialogVisibleChange)="handleUpdateDialogVisibility($event)"
            (membersDialogVisibleChange)="handleMembersDialogVisibility($event)"
            (spaceDeleted)="handleSpaceDeleted($event)"
          />
        }
      </div>
    </ng-template>
    <ng-template #emptymessage>
      <div class="flex flex-col items-center justify-center text-center min-h-[calc(100vh-25rem)]">
        <h3 class="text-xl font-medium mb-4">Você ainda não participa de nenhum Space</h3>
        <p class="text-muted-foreground mb-4">Crie um novo Space ou solicite para ser adicionado a um existente.</p>
        <ng-container *ngTemplateOutlet="newButton"></ng-container>
      </div>
    </ng-template>
  </p-dataView>
</div>

<app-space-dialog [visible]="isOpenDialog" [spaceToEdit]="selectedSpace" (visibleChange)="handleUpdateDialogVisibility($event)" (spaceSaved)="handleSpaceSaved($event)" />

<app-manage-members [visible]="isMembersDialogOpen" [spaceToManage]="selectedSpace!" (visibleChange)="handleMembersDialogVisibility($event)" />

<ng-template #newButton>
  <p-button label="Novo" icon="pi pi-plus-circle" severity="contrast" (click)="handleUpdateDialogVisibility(true, false)"></p-button>
</ng-template>
