<p-dialog
  [header]="expense()?.title"
  [modal]="true"
  [visible]="isOpen()"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  (onHide)="close()"
  (visibleChange)="close()"
  styleClass="w-full md:w-1/2 lg:w-1/3 mx-4"
>
  <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
    <div class="p-4 space-y-4">
      <div class="flex justify-between items-center">
        <h1 class="text-lg font-medium">Informações Básicas</h1>
        <div
          class="inline-flex items-center rounded-full border px-2.5 py-1 text-md font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground"
        >
          {{ categoryName}}
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <i class="pi pi-wallet"></i>
            <p class="text-sm text-muted-foreground">Valor</p>
          </div>
          <p class="font-medium">{{ expense()?.value | currency: 'BRL' }}</p>
        </div>

        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <i class="pi pi-calendar"></i>
            <p class="text-sm text-muted-foreground">Data da Compra</p>
          </div>
          <p class="font-medium">{{ expense()?.date | date: 'dd/MM/yyyy' }}</p>
        </div>

        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <i class="pi pi-credit-card"></i>
            <p class="text-sm text-muted-foreground">Método de Pagamento</p>
          </div>
          @if(expense()?.payment_method_id) {
          <div class="flex items-center gap-2">
            <app-user-avatar [user]="expense()?.payment_method?.owner!"></app-user-avatar>
            <span>{{ expense()?.payment_method?.owner!.fullname }}</span>
          </div>
          }
        </div>

        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <i class="pi pi-user"></i>
            <p class="text-sm text-muted-foreground">Criado por</p>
          </div>
          <p class="font-medium">{{ expense()?.creator?.fullname }}</p>
        </div>

        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <i class="pi pi-clock"></i>
            <p class="text-sm text-muted-foreground">Criado em</p>
          </div>
          <p class="font-medium">{{ expense()?.created_at | date: 'dd/MM/yyyy' }}</p>
        </div>

        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <i class="pi pi-clock"></i>
            <p class="text-sm text-muted-foreground">Atualizado em</p>
          </div>
          <p class="font-medium">{{ expense()?.updated_at | date: 'dd/MM/yyyy' }}</p>
        </div>
      </div>

      <div class="pt-3 border-t">
        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <i class="pi pi-book"></i>
            <p class="text-sm text-muted-foreground">Observação</p>
          </div>
          <p class="font-medium">{{ expense()?.note }}</p>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
