<p-dialog
  header="Adicionar membros ao Space"
  [modal]="true"
  [(visible)]="visible"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  (visibleChange)="close()"
  styleClass="w-full md:w-1/2 lg:w-1/3 mx-4 h-100 dialog-with-subtitle"
>
  <div class="flex flex-col h-full">
    <p class="text-sm pb-4">Procure usuários por nome ou e-mail</p>

    <p-autoComplete
      [(ngModel)]="searchValue"
      [suggestions]="filteredUsers"
      [unique]="false"
      (onSelect)="setNewUsers($event)"
      field="email"
      (completeMethod)="searchUsers($event)"
      [minLength]="5"
      placeholder="Buscar usuário por nome ou e-mail"
      emptyMessage="Nenhum usuário encontrado"
      styleClass="w-full mt-6 space-y-4"
      inputStyleClass="w-full"
      appendTo="body"
    >
      <ng-template let-user pTemplate="item">
        <ng-container *ngTemplateOutlet="userTemplate; context: { user: user, isEditable: false }"></ng-container>
      </ng-template>
      <ng-template pTemplate="header">
        <div class="font-medium px-3 py-2">Usuários Disponíveis</div>
      </ng-template>
    </p-autoComplete>

    <div class="flex flex-col mt-6">
      <h1 class="text-md font-bold mb-4">Usuários com acesso</h1>
      <app-loading [isLoading]="isLoadingMembers"></app-loading>

      @if(!isLoadingMembers) { 
        @for (member of members; track member.email) {
          <div class="flex items-center justify-between mb-6">
            <ng-container *ngTemplateOutlet="userTemplate; context: { user: member, isEditable: true }"></ng-container>
            <div class="flex flex-col items-center justify-end">
              <p class="text-sm" [ngClass]="{'font-medium' : spaceToManage && spaceToManage.creator_id === member.id }">
                {{ spaceToManage && spaceToManage.creator_id === member.id ? 'Criador' : 'Membro'}}
              </p>
              @if(isNewMember(member)) {
                <p class="text-sm">(Novo)</p>
              }
            </div>
          </div>
        }
      }
    </div>
  </div>
  <ng-template #footer>
    <p-button type="submit" label="Confirmar" [disabled]="isLoading || newSelectedUsers.length === 0" [loading]="isLoading" (click)="handleSubmit()"></p-button>
  </ng-template>
</p-dialog>

<ng-template #userTemplate let-user="user" let-isEditable="isEditable">
  <div class="flex items-center justify-start">
    @if(isEditable && memberCanBeRemoved(user)) {
      <div
        class="size-8 rounded-full flex items-center justify-center bg-blue-500 text-white font-400 relative group cursor-pointer hover:bg-red-100 text-red-500"
        pTooltip="Remover Membro"
      >
        <span class="absolute opacity-100 transition-opacity duration-300 ease-in-out group-hover:opacity-0"> {{ user.fullname.charAt(0) }} </span>
        <p-button
          class="hidden group-hover:inline transition-opacity duration-300 ease-in-out"
          icon="pi pi-times"
          severity="danger"
          [rounded]="true"
          [text]="true"
          (click)="handleRemoveMember(user)"
        ></p-button>
      </div>
    } @else {
      <div class="size-8 rounded-full flex items-center justify-center bg-blue-500 text-white font-400">
        <span> {{ user.fullname.charAt(0) }} </span>
      </div>
    }

    <div class="ml-2">
      <p class="text-sm font-medium">{{ user.fullname }}</p>
      <p class="text-xs text-gray-500">{{ user.email }}</p>
    </div>
  </div>
</ng-template>
