<div class="mb-4 flex justify-end">
  <p-button label="Nova" icon="pi pi-plus-circle" severity="contrast" (click)="openFormDialog()"></p-button>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 mb-6">
  @if(isLoading()) {
    <p-skeleton styleClass="py-16" />
    <p-skeleton styleClass="py-16" />
    <p-skeleton styleClass="py-16" />
  } @else {
    <div class="bg-card bg-white flex flex-col rounded-xl border shadow-sm">
      <div class="p-4">
        <div class="text-md text-gray-400 font-normal">Total a Pagar</div>
        <div class="text-2xl text-gray-700 font-bold">{{totalValue | currency: 'BRL'}}</div>
      </div>
    </div>

    <div class="bg-card bg-white flex flex-col rounded-xl border shadow-sm">
      <div class="p-4">
        <div class="flex items-end gap-2">
          <div class="text-md text-gray-400 font-normal">Divisão entre Membros</div>
          <i class="pi pi-question-circle mb-1" pTooltip="Valor referente a quanto cada membro deve pagar no período selecionado."></i>
        </div>
        <div class="text-2xl text-gray-700 font-bold">{{(totalValue/2) | currency: 'BRL'}}</div>
      </div>
    </div>
  }
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 border-t pt-6">
  @for (expense of expenses; track $index + 1) { 
    @if(isLoading()) {
      <p-skeleton styleClass="py-16" />
    }
    @else {
      <div class="bg-card flex h-40 flex-col rounded-xl border shadow-sm bg-white border-gray-200 px-4 pt-2 pb-4">
        <h1 class="text-lg font-semibold line-clamp-2">{{ expense.title }}</h1>
    
        <div class="flex flex-col flex-grow">
          <div class="flex items-center justify-between mt-2">
              <div
                class="text-lg text-gray-500 font-bold pr-1">
                {{ expense.value | currency: 'BRL' }}
              </div>
    
            <div class="flex items-center">
                <p-button icon="pi pi-pen-to-square" [text]="true" severity="contrast" (click)="openFormDialog(expense)"></p-button>
                <p-button icon="pi pi-trash" [text]="true" severity="contrast" (click)="openDeleteConfirmDialog($event, expense)"></p-button>
            </div>
          </div>
        </div>
    
        <div class="mt-auto pt-3 border-t flex items-end justify-between">
          <div class="flex mt-2 items-center justify-start gap-2 text-sm text-gray-500">
            <i class="pi pi-calendar"></i>
            <span>Data: </span>
            <span class="font-semibold">{{ expense.date | date: 'dd/MM/yyyy' }}</span>
          </div>
          @if(expense.payment_method_id) {
            <div class="flex mt-2 items-center justify-start gap-2 text-sm text-gray-500">
              <i class="pi pi-credit-card"></i>
              <span>Método: </span>
              <span class="font-semibold">{{ expense.payment_method_name }}</span>
            </div>
          }
        </div>
      </div>
    }
  }
  @empty {
    @if(isLoading()) {
      <p-skeleton styleClass="py-16" />
    }
    <div class="bg-card bg-white text-center border rounded-xl shadow-sm p-8 col-span-full">
      <h1 class="text-lg text-gray-500">Nenhuma despesada registrada para este período.</h1>
    </div>
  }
</div>

<app-expense-form-dialog [isOpen]="isFormDialogOpen" [selectedExpense]="selectedExpense()" [spaceId]="spaceId()" [referencePeriod]="referenceDate()" (touchExpense)="fetchExpenses()"></app-expense-form-dialog>