<div class="mb-4 flex justify-end gap-2">
  <p-button label="Resumo" icon="pi pi-book" severity="contrast" (click)="isSummaryDialogOpen.set(true)"></p-button>
  <p-button label="Nova" icon="pi pi-plus-circle" severity="contrast" (click)="openFormDialog($event)"></p-button>
</div>

<div class="grid grid-cols-1 gap-4" [ngClass]="spaceUsers().length > 1 ? 'lg:grid-cols-3' : 'lg:grid-cols-2'">
  @if(isLoading()) {
    <p-skeleton styleClass="py-16" />
    <p-skeleton styleClass="py-16" />
    <p-skeleton styleClass="py-16" />
  } @else {
    <div class="bg-card bg-white flex flex-col rounded-xl border shadow-sm p-4">
      <div class="text-md text-gray-600 font-medium leading-none">Total a Pagar</div>
      <div class="my-2 flex gap-2 items-center justify-between">
        <div class="text-2xl text-gray-700 font-bold">{{ totalValue() | currency: 'BRL' }}</div>
        <div class="flex items-center gap-2 font-semibold leading-none" [ngClass]="previousMonthComparePercentage() > 0 ? 'text-red-600' : 'text-green-600'">
          <i [ngClass]="previousMonthComparePercentage() > 0 ? 'pi pi-arrow-up bg-red-200 border-red-200' : 'pi pi-arrow-down bg-green-200 border-green-200'" class="flex items-center border rounded-full p-1 !text-[0.6rem] !leading-none font-bold"></i>
          <span>{{ (previousMonthComparePercentage() < 0 ? -previousMonthComparePercentage() : previousMonthComparePercentage()) | percent: '1.1' }}</span>
        </div>
      </div>
      <div class="text-sm text-gray-500 leading-none font-medium">Comparado com {{ previousMonthDate() | date: 'MMMM'}} de {{ previousMonthDate() | date: 'yyyy'}}</div>
    </div>

    <div class="bg-card bg-white flex flex-col rounded-xl border shadow-sm p-4">
      <div class="text-md text-gray-600 font-medium leading-none">Maior despesa</div>
      @if(biggestExpenseValue().id) {
        <div class="my-2 flex gap-2">
          <div class="text-2xl text-gray-700 font-bold">{{ biggestExpenseValue() ? (biggestExpenseValue().value | currency: 'BRL') : '-' }}</div>
        </div>

        <div class="flex items-end justify-between text-sm text-gray-500 leading-none gap-2 font-medium">
          <div class="flex items-end gap-1 truncate">
            <i class="pi pi-calendar"></i>
            <span>{{ biggestExpenseValue().date | date: 'dd/MM' }}: {{ biggestExpenseValue().title }}</span>
          </div>
          <div class="flex items-center gap-1 justify-end truncate">
            <i class="pi pi-credit-card"></i>
            <span>{{ biggestExpenseValue().payment_method.name }}</span>
          </div>
        </div>
      }
      @else {
        <span class="text-md text-gray-500 mt-4 font-semibold text-ellipsis overflow-hidden">Nenhuma despesa encontrada</span>
      }
    </div>

    @if(spaceUsers().length > 1) {
      <div
        class="bg-card bg-white flex flex-col rounded-xl border shadow-sm p-4"
        [ngClass]="{ 'cursor-pointer': expenses().length > 0 }"
        tabindex="0"
        (click)="expenses().length > 0 ? isBalanceDialogOpen.set(true) : undefined"
        (keydown.enter)="expenses().length > 0 ? isBalanceDialogOpen.set(true) : undefined"
      >
        <div class="flex items-center gap-2 mb-2">
          <div class="text-md text-gray-600 font-medium leading-none">Saldo entre membros</div>
          @if(expenses().length > 0) {
            <div class="flex justify-end flex-grow text-gray-600 text-sm font-semibold underline">
              <span>ver detalhes</span>
            </div>
          }
        </div>
        @for(netDebt of netDebts(); track $index + 1) {
          <div class="flex flex-row items-center gap-4 justify-between lg:justify-start">
            <div class="flex items-center gap-3">
              <app-user-avatar [users]="netDebt.from" [size]="'extra-large'"></app-user-avatar>
              <div class="text-md">
                <div class="font-semibold">{{ getAbbreviatedName(netDebt.from.fullname) }}</div>
                <div class="flex items-center gap-1 text-sm text-gray-500 font-medium">
                  <div>deve</div>
                  <div class="text-green-600 text-md">{{ netDebt.amount | currency: 'BRL' }}</div>
                  <div>para</div>
                </div>
              </div>
            </div>
  
            <div class="flex items-start gap-3">
              <app-user-avatar [users]="netDebt.to" [size]="'extra-large'"></app-user-avatar>
              <div class="text-sm font-semibold">{{ getAbbreviatedName(netDebt.to.fullname) }}</div>
            </div>
          </div>
        } 
        @empty {
          <span class="text-md text-gray-500 mt-2 font-semibold text-ellipsis overflow-hidden">Nenhum saldo a receber</span>
        }
      </div>
    }

    <div class="col-span-full mt-2">
      <app-expense-filters [fullExpenses]="expenses()" [filteredExpenses]="filteredExpenses"></app-expense-filters>
    </div>
  }
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
  @for (expense of filteredExpenses(); track $index + 1) { 
    @if(isLoading()) {
      <p-skeleton styleClass="py-16" />
    }
    @else {
      <div
        class="bg-card flex h-40 flex-col rounded-xl border shadow-sm bg-white border-gray-200 px-4 pt-2 pb-4 cursor-pointer"
        tabindex="0"
        (click)="openDetailsDialog(expense);"
        (keydown.enter)="openDetailsDialog(expense)"
        (keydown.space)="openDetailsDialog(expense)"
        role="button"
      >
        <h1 class="text-lg font-semibold line-clamp-2">{{ expense.title }}</h1>

        <div class="flex flex-col flex-grow">
          <div class="flex items-center justify-between mt-2">
            <div class="text-lg text-gray-500 font-bold pr-1">{{ expense.value | currency: 'BRL' }}</div>

            <div class="flex items-center">
              <p-button icon="pi pi-info-circle" [text]="true" severity="contrast" (click)="openDetailsDialog(expense)"></p-button>
              <p-button icon="pi pi-pen-to-square" [text]="true" severity="contrast" (click)="openFormDialog($event,expense)"></p-button>
              <p-button icon="pi pi-trash" [text]="true" severity="contrast" (click)="openDeleteConfirmDialog($event, expense)"></p-button>
            </div>
          </div>
        </div>

        <div class="mt-auto pt-3 border-t flex items-end justify-between gap-4">
          <div class="flex mt-2 items-center justify-start gap-2 text-sm text-gray-500">
            <i class="pi pi-calendar"></i>
            <span class="font-semibold">{{ expense.date | date: 'dd/MM/yyyy' }}</span>
          </div>
          @if(expense.payment_method_id) {
            <div class="flex items-center gap-2 text-sm text-gray-500">
              <i class="pi pi-credit-card"></i>
              <span class="font-semibold">{{ expense.payment_method.name }}</span>
            </div>
          }
        </div>
      </div>
    }
  }
  @empty {
    @if(isLoading()) {
      <p-skeleton styleClass="py-16" />
    }
    <div class="bg-card bg-white text-center border rounded-xl shadow-sm p-8 col-span-full">
      <h1 class="text-lg text-gray-500">Nenhuma despesada encontrada para este período.</h1>
    </div>
  }
</div>

@defer (when isFormDialogOpen()) {
  <app-expense-form-dialog
    [isOpen]="isFormDialogOpen"
    [selectedExpense]="selectedExpense()"
    [space]="space()"
    [referencePeriod]="referenceDate()"
    (touchExpense)="expenseHasBeenSaved($event)"
  ></app-expense-form-dialog>
}

@defer (when isSummaryDialogOpen()) {
  <app-expenses-summary-dialog [isOpen]="isSummaryDialogOpen" [space]="space()" [referencePeriod]="referenceDate()"></app-expenses-summary-dialog>
}

@defer (when isDetailsDialogOpen()) {
  <app-expense-details-dialog [isOpen]="isDetailsDialogOpen" [expense]="selectedExpense()" [space]="space()"> </app-expense-details-dialog>
}

@defer (when isExpenseSplitFormDialogOpen()) {
  <app-expense-split-dialog
    [isDialogOpen]="isExpenseSplitFormDialogOpen"
    [expense]="selectedExpense()!"
    [spaceMembers]="space().members!"
    (finishedSplitting)="fetchExpenses()"
  ></app-expense-split-dialog>
}

@defer (when isBalanceDialogOpen()) {
  <app-expense-balance-dialog [isOpen]="isBalanceDialogOpen" [expenses]="expenses" [spaceUsers]="spaceUsers()"> </app-expense-balance-dialog>
}