<p-drawer
  [visible]="isSidebarOpen()"
  [modal]="isMobile()"
  [closable]="false"
  (visibleChange)="layoutService.setIsSidebarOpen($event)"
  [styleClass]="sidebarClass()"
  role="navigation"
  aria-label="Menu principal"
>
  <ng-template #header>
    <a class="flex flex-col items-center justify-center w-full cursor-pointer" [routerLink]="'/spaces'" aria-label="Ir para Espaços">
      <img [src]="isSidebarExpanded() ? 'gb_name.svg' : 'gb_logo.svg'" alt="Gubi" class="logo w-1/3 lg:w-1/2" />
    </a>
  </ng-template>

  <ng-template #content>
    <div class="flex flex-col h-full pt-40" [ngClass]="{ 'items-center': !isSidebarExpanded() }">
      <div class="flex flex-col gap-3 justify-start">
        @for (item of menuItems; track item.route) {
        <a [routerLink]="item.route">
          <p-button
            [label]="isSidebarExpanded() ? item.label : undefined"
            [icon]="item.icon"
            severity="secondary"
            [styleClass]="(isSidebarExpanded() ? 'w-full !justify-start !text-sm ' : '') + (isActive(item.route) ? ' brightness-90' : '')"
            [pTooltip]="!isSidebarExpanded() ? item.label : undefined"
            tooltipPosition="right"
          ></p-button>
        </a>
        }
      </div>

      <div class="mt-auto overflow-x-hidden">
        <div class="flex w-full justify-center" [ngClass]="{ '!justify-end': isSidebarExpanded() }">
          <p-button
            icon="pi pi-angle-double-right"
            class="transition-transform duration-1000 ease-in-out flex"
            [ngClass]="{ 'rotate-180': isSidebarExpanded() }"
            severity="secondary"
            rounded
            text
            (click)="layoutService.toggleSidebarExpansion()"
            tooltipPosition="right"
          ></p-button>
        </div>
        <hr class="my-2 mx-1 border-t border-0 border-surface" />
        <p-button class="mb-4" text severity="secondary" (onClick)="menu.toggle($event)">
          <div class="flex items-center justify-center gap-2">
            <app-user-avatar [users]="authService.currentUser()" [size]="'large'"></app-user-avatar>
            <span *ngIf="isSidebarExpanded()" class="text-gray-500 font-semibold"> {{ authService.currentUser()?.fullname!.split(' ')[0] }} </span>
          </div>
        </p-button>
        <p-button
          [label]="isSidebarExpanded() ? 'Sair' : undefined"
          [icon]="'pi pi-sign-out'"
          severity="secondary"
          [styleClass]="(isSidebarExpanded() ? 'w-full justify-start !text-sm ' : 'mx-2')"
          (click)="authService.logout()"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-drawer>

<p-menu #menu [popup]="true" styleClass="px-2" appendTo="body">
  <ng-template #start>
    <div class="flex flex-col text-left text-gray-500 w-full py-1">
      <span class="font-semibold">{{authService.currentUser()?.fullname}}</span>
      <span class="text-xs">{{authService.currentUser()?.email}}</span>
    </div>
  </ng-template>
  <ng-template #end>
    <div class="border-t border-gray-300 w-full py-1">
      <p-button label="Sair" icon="pi pi-sign-out" styleClass="w-full !justify-start" text severity="secondary" aria-label="Sair do Gubi" (click)="authService.logout()"></p-button>
    </div>
  </ng-template>
</p-menu>
