@import 'tailwind-preset-mantine';

@theme {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-border: var(--border-default);
  --color-border-light: var(--border-light);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-positive: var(--positive);
  --color-positive-foreground: var(--positive-foreground);
  --color-negative: var(--negative);
  --color-negative-foreground: var(--negative-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
}

:root {
  --background: #f7f6f4;
  --background-secondary: #fafafa;
  --foreground: #334155;
  --muted-foreground: #a7a7a7;
  --card: #ffffff;
  --muted: #f3f4f6;
  --primary: #57b497;
  --primary-foreground: #f4fbf9;
  --secondary: #475569;
  --secondary-foreground: #f1f5f9;

  --positive: #16a34a;
  --positive-foreground: #bbf7d0;
  --negative: #ed0000;
  --negative-foreground: #fecaca;
  --warning: #eab308;
  --warning-foreground: #fefce8;
  --info: #eff6ff;
  --info-foreground: #eff6ff;

  --border-default: #d1d5db;
  --border-light: #e5e7eb;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
