@import 'tailwind-preset-mantine';

@theme {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-border: var(--border-default);
  --color-border-light: var(--border-light);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-blue: var(--blue);
  --color-green: var(--green);
  --color-cyan: var(--cyan);
  --color-orange: var(--orange);
  --color-red: var(--red);
  --color-yellow: var(--yellow);
  --color-gray: var(--gray);

  --color-positive: var(--positive);
  --color-positive-foreground: var(--positive-foreground);
  --color-negative: var(--red);
  --color-negative-foreground: var(--negative-foreground);
  --color-warning: var(--yellow);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
}

:root {
  --background: #f7f6f4;
  --background-secondary: #fafafa;
  --foreground: #334155;
  --muted-foreground: #a7a7a7;
  --card: #ffffff;
  --muted: #f3f4f6;
  --primary: #57b497;
  --primary-foreground: #f4fbf9;
  --secondary: #475569;
  --secondary-foreground: #57b497;

  --blue: #2563eb;
  --green: #0d9488;
  --cyan: #6c59f6;
  --orange: #ea580c;
  --yellow: #eab308;
  --red: #ed0000;
  --gray: #a7a7a7;

  --positive: #10b981;
  --positive-foreground: #e1f1f2;
  --negative: #ed0000;
  --negative-foreground: #fecaca;
  --warning: #ea580c;
  --warning-foreground: #fefce8;
  --info: #2563eb;
  --info-foreground: #eff6ff;

  --border-default: #d1d5db;
  --border-light: #e5e7eb;

  --mantine-color-text: var(--foreground);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
