<div class="flex items-center justify-between p-3 pl-0">
  <p-breadcrumb class="max-w-full" [model]="crumbItems" [home]="home" class="transparent-breadcrumb" />
  <div
    class="size-8 rounded-full flex items-center justify-center bg-blue-500 text-white font-400 cursor-pointer hover:bg-blue-600"
    tabindex="0"
    (click)="menu.toggle($event)"
    (keydown)="menu.toggle($event)"
  >
    <span>{{ authService.userFirstName.charAt(0) }}</span>
  </div>
</div>

<p-menu #menu [model]="userItems" [popup]="true" styleClass="!min-w-fit" />
