<p-card styleClass="w-[90vw] md:w-[50vw] lg:w-[40vw] xl:w-[25vw]">
  <ng-template #title>Boas Vindas</ng-template>
  <ng-template #subtitle>Crie sua conta para acessar o site</ng-template>
  <ng-template #content>
    <form class="mt-6" [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="my-6">
        <label for="name" class="text-sm font-medium">Nome</label>
        <input id="name" class="w-full mt-2" type="text" pInputText formControlName="name" placeholder="Seu nome completo" />
      </div>
      <div class="my-6">
        <label for="email" class="text-sm font-medium">Email</label>
        <input id="email" class="w-full mt-2" type="email" pInputText formControlName="email" placeholder="exemplo@email.com" />
      </div>
      <div class="my-6">
        <label for="password" class="text-sm font-medium">Senha</label>
        <p-password
          id="password"
          class="flex mt-2"
          styleClass="w-full"
          inputStyleClass="w-full"
          formControlName="password"
          placeholder="••••••••"
          [feedback]="true"
          [toggleMask]="true"
          promptLabel="Digite sua senha"
          weakLabel="Senha Fraca"
          mediumLabel="Senha Média"
          strongLabel="Senha Forte"
        >
          <ng-template #footer>
            <p-divider />
            <ul>
              @for(rule of passwordRules; track rule.regex) {
              <li>
                <i [ngClass]="rule.regex.test(passwordFormField?.value) ? 'mr-2 pi pi-check-circle text-green-600' : 'mr-2 pi pi-times-circle text-red-500'"></i>
                <span>{{ rule.message }}</span>
              </li>
              }
            </ul>
          </ng-template>
        </p-password>
      </div>

      <div class="text-center mt-8">
        <p-button
          [label]="isLoading() ? 'Criando conta...' : 'Criar Conta'"
          type="submit"
          [loading]="isLoading()"
          [disabled]="registerForm.invalid"
          severity="contrast"
          styleClass="w-full"
        >
        </p-button>
      </div>
    </form>
    <div class="mt-4 flex items-center text-sm font-medium justify-center">
      <span>Já possui uma conta?</span>
      <button (click)="router.navigate(['/auth/login'])" class="ml-1 underline cursor-pointer">Fazer login</button>
    </div>
  </ng-template>
</p-card>
